<!DOCTYPE html>

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Easy Leave</title>
	
	<link href="default.css" rel="stylesheet" type="text/css" />
	</head>
<body>
<div id="header">
	<div id="logo">
		<h1><a href="#">EasyLeave</a></h1>
		<h2><a href="#">Your personal leave handler</a></h2>
	</div>
	<div id="menu">
		<ul>
			<li ><a href="h.html">History</a></li>
			<li><a href="lr.html">Leaves Rejected</a></li>
			<li><a href="la.html">Leaves Accepted</a></li>
			
		</ul>
	</div>
</div>
<div id="page">
	<div id="content">
		<div>
			<h1 class="title">Welcome to your portfolio!</h1>
			
		</div>
		<div class="twocols">
			<div class="col1">
				<h2 class="title">asgdksb</h2>
				<p>blah blah blah</p>
			</div>
			
		</div>
	</div>
	<div id="sidebar">
		<div id="search" class="boxed">
			<h2 class="title">Search</h2>
			<div class="content">
				<form id="searchform" method="get" action="">
					<fieldset>
					<input id="searchinput" type="text" name="searchinput" value="" />
					<input id="searchsubmit" type="submit" value="Search" />
					</fieldset>
				</form>
				<p><a href="#">Advanced Search</a></p>
			</div>
		</div>
		
		
		<div id="footer">
			<p id="legal">&copy;2017 EasyLeave. All Rights Reserved
				</p>
			</div>
	</div>
	</div>
</body>
</html>
